! #282b35 /
! #dc3c3c /
! #00aba5 /
! #b73999 /
! #95c76f /
! #4eb355 /
! #3e758c /
! #d28e5d /


! special
*.foreground:   #C8CACF
*.background:   #282b35
*.cursorColor:  #c71717

! black
*.color0:       #282b35
*.color8:       #393c45

! red
*.color1:       #dc3c3c
*.color9:       #db5151

! green
*.color2:       #4eb355
*.color10:      #95c76f

! yellow
*.color3:       #d28e5d
*.color11:      #d99d72

! blue
*.color4:       #3e758c
*.color12:      #5694ad

! magenta
*.color5:       #b73999
*.color13:      #c85eaf

! cyan
*.color6:       #00aba5
*.color14:      #24bdb7

! white
*.color7:       #a8a9b0
*.color15:      #c7c9cf
