"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "railscast-theme"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 13
    scrollPastEnd: true
    showInvisibles: true
  linter:
    displayLinterInfo: false
    showErrorPanel: false
  minimap:
    displayPluginsControls: false
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
